<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta name="msvalidate.01" content="406799D64711F5C19B48CD297396FE17" />
        <!-- Chrome, Firefox OS, Opera and Vivaldi -->
        <meta name="theme-color" content="#2e78b5">
        <!-- Windows Phone -->
        <meta name="msapplication-navbutton-color" content="#2e78b5">
        <!-- iOS Safari -->
        <meta name="apple-mobile-web-app-status-bar-style" content="#2e78b5">
        <title>Increi | Contacto</title>
        <meta name="language" content="spanish">
        <meta name="description" content="Somos una empresa ubicada en Cabudare Estado Lara, dedicada al procesamiento y comercialización de varios tipos de Hilazas Naturales y Sintéticas utilizadas por el sector artesanal." />
        <meta name="keywords" content="hilazas, hilazas naturales, hilazas sinteticas, Barquisimeto, Lara, Venezuela pabilo de color, pabilo crudo, hilo crochet, hilo matizado, cordeles, comercio">
        <meta name="Title" content="Hilazas Naturales y Sinteticas | Increi">
        <meta name="Author" content="Increi">
        <meta name="geo.region" content="VE-K" />
        <meta name="geo.placename" content="Barquisimeto" />
        <meta name="geo.position" content="10.067772;-69.347351" />
        <meta name="ICBM" content="10.067772, -69.347351" />
        <meta content="general" name="rating" />
        <meta property="og:type" content="company" />
        <meta property="og:title" content="Increi" />
        <meta property="og:description" content="Somos una empresa ubicada en Cabudare Estado Lara, dedicada al procesamiento y comercialización de varios tipos de Hilazas Naturales y Sintéticas utilizadas por el sector artesanal." />
        <meta property="og:url" content="http://www.increi.com" />
        <meta property="og:site_name" content="Increi" />
        <meta itemprop="isFamilyFriendly" content="True">
        <meta name="Googlebot" content="all" />

        <link rel="icon" type="image/png" href="img/favicon.ico">

        <link href='https://fonts.googleapis.com/css?family=Pacifico|Comfortaa|ABeeZee' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>
    <body ng-app="contactApp">
        <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70364405-3', 'auto');
  ga('send', 'pageview');

</script>
    <style type="text/css">
        #mas{background: #78B52E;}
    </style>
    <div class="navbar-fixed">
        <nav role="navigation">
            <div class="nav-wrapper container">
              <a href="#!" class="brand-logo"><img class="logo" src="img/logo.png"></a>
              <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a>
              <ul class="right hide-on-med-and-down">
                <li class="line-white margin20"><a href="index.html">Inicio</a></li>
                <li class="line-white margin20"><a href="empresa.html">Empresa</a></li>
                <li class="line-white margin20" onmouseout="DropOut()" onmouseover="DropIn()"><a class="dropdown-button" data-activates="dropdown1">Productos&nbsp;<i class="fa fa-caret-down" aria-hidden="true" title="Toggle dropdown menu"></i></a></li>
                    <ul id="dropdown1" class="dropdown-content" onmouseout="DropOut()">
                      <li class="prod"><a href="crudo.html">Pabilo Crudo</a></li>
                      <li class="prod"><a href="color.html">Pabilo de color</a></li>
                      <li class="prod"><a href="crochet.html">Hilo de crochet</a></li>
                      <li class="prod"><a href="matizado.html">Hilos matizados</a></li>
                      <li class="prod"><a href="cordel.html">Cordeles</a></li>
                    </ul>
                <li class="line-white margin20"><a href="galeria.html">Galeria</a></li>
                <li class="border-bto-white margin20"><a href="contacto.html">Contacto</a></li>
              </ul>
              <ul class="side-nav" id="mobile-demo">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="empresa.html">Empresa</a></li>
                <li><a class="dropdown-button" data-activates="dropdown2">Productos&nbsp;<i class="fa fa-caret-down" aria-hidden="true" title="Toggle dropdown menu"></i></a></li>
                    <ul id="dropdown2" class="dropdown-content">
                      <li class="prod"><a href="crudo.html">Pabilo Crudo</a></li>
                      <li class="prod"><a href="color.html">Pabilo de color</a></li>
                      <li class="prod"><a href="crochet.html">Hilo de crochet</a></li>
                      <li class="prod"><a href="matizado.html">Hilos matizados</a></li>
                      <li class="prod"><a href="cordel.html">Cordeles</a></li>
                    </ul>
                <li><a href="galeria.html">Galeria</a></li>
                <li><a href="contacto.html">Contacto</a></li>
              </ul>
            </div>
        </nav>
    </div>

    <style type="text/css">
        .form{margin:20px 25% !important;}
        input[type=text],input[type=email]{border:2px solid #2E78B5;border-radius: 5px;};
        input[type=text]:focus:not([readonly]){border-bottom: #66afe9 !important;outline: 0;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);};
    </style>
    
        <section class="fondo col-xs-12">
            <div class="container margin50">
                <div class="col-xs-12 marginbot75">
                    <h2 class="letraroja text-center letracursiva">Contáctanos</h2>
                    <hr class="hrazul width50">

                    <div ng-controller="ContactController">

                        <form ng-submit="submit(contactform)" name="contactform" method="post" action="" class="form-horizontal" role="form">
                            <div class="row margin50 marginbot75 text-center">
                                <div ng-app="myApp">
                                    <div add-input>
                                        <button type="button" id="mas" class="btn btn-verde displayblock">Click para Añadir Cotización</button>
                                    </div>
                                </div>
                            </div>
                            <div class="bgblanco row text-center form">
                                <span ng-class="{ 'has-error': contactform.nombre.$invalid && submitted }">
                                    <input ng-model="formData.nombre" type="text" id="nombre" placeholder="Nombre y apellido" name="nombre" required />
                                </span>
                            </div>
                            <div class="bgblanco row text-center form">
                                <span ng-class="{ 'has-error': contactform.email.$invalid && submitted }">
                                    <input ng-model="formData.email" type="email" id="email" placeholder="Correo" name="email" required />
                                </span>
                            </div>
                            <div class="bgblanco row text-center form">
                                <span ng-class="{ 'has-error': contactform.compania.$invalid && submitted }">
                                    <input ng-model="formData.compania" type="text" id="compania" placeholder="Empresa" name="compania" required />
                                </span>
                            </div>
                            <div class="bgblanco row text-center form">
                                <span ng-class="{ 'has-error': contactform.telefono.$invalid && submitted }">
                                    <input ng-model="formData.telefono" type="text" id="telefono" placeholder="telefono" name="telefono" required />
                                </span>
                            </div>
                            <div class="row text-center margin50">
                                <div class="form-group" ng-class="{ 'has-error': contactform.message.$invalid && submitted }">
                                    <textarea ng-model="formData.message"  id="message" name="message" class="form-control" rows="15" style="resize: vertical;" placeholder="Tu Mensaje" required></textarea>
                                </div>
                            </div>
                            <div class="col-md-12 margin50 text-center">
                                <button type="submit" class="btn btn-rojo" ng-disabled="submitButtonDisabled">Enviar Email</button>
                            </div>
                        </form>
                        <p ng-class="result" style="padding: 15px; margin: 0;">{{ resultMessage }}</p>
                </div>
            </div>
        </section>

        <footer class="col-xs-12 page-footer white-text container-fluid">
            <div class="cont-footer">
                <div class="col-sm-3 col-xs-12 marginbot25">
                    <h3 class="text-center">Contáctanos</h3>
                    <hr>
                    <h4><i class="fa fa-envelope"></i> gerencia@increi.com</h4>
                    <h4 class="margin25"><i class="fa fa-envelope"></i> administracion@increi.com</h4>
                    <h4 class="margin25"><i class="fa fa-envelope"></i> ventas@increi.com</h4>
                    <h4 class="margin25"><i class="fa fa-envelope"></i> increica06@gmail.com</h4>
                </div>
                <div class="col-sm-3 col-xs-12 marginbot25">
                    <h3 class="text-center">Nuestra Oficina</h3>
                    <hr>
                        <h4><i class="fa fa-phone fa-lg"> </i> Teléfono: (058) 0251-935-2081</h4>
                        <h4 class="margin25"><i class="fa fa-fax fa-lg"> </i> Fax: (058) 0251-935-2081 </h4>
                        <h4 class="margin25"><i class="fa fa-map-marker fa-lg"></i> Cabudare, Edo Lara. Venezuela </h4>
                </div>
                <div class="col-sm-3 col-xs-12 marginbot25">
                    <h3 class="text-center">El Arte del Hilo</h3>
                    <hr>
                    <i class="fa fa-quote-left fa-3x fa-pull-left fa-border"></i><h4>El arte es un compendio de la naturaleza formado por la imaginacion<i class="margin25 pull-right"> - Jose Maria</i></h4>
                </div>
                <div class="col-sm-3 col-xs-12 marginbot25">
                    <h3 class="text-center">Mapa del Sitio</h3>
                    <hr>
                      <ul>
                            <li class="active"><a href="index.html">Inicio</a></li>
                            <li><a href="empresa.html">Empresa</a></li>
                            <li><a href="#">Productos</a></li>
                            <li class="marginleft25"><a href="crudo.html">Pabilo Crudo</a></li>
                            <li class="marginleft25"><a href="color.html">Pabilo de Color</a></li>
                            <li class="marginleft25"><a href="crochet.html">Hilo Crochet</a></li>
                            <li class="marginleft25"><a href="cordel.html">Cordeles</a></li>
                            <li class="marginleft25"><a href="matizado.html">Hilos Matizados</a></li>
                            <li><a href="galeria.html">Galería</a></li> 
                            <li><a href="contacto.html">Contactos</a></li>   
                      </ul>
                </div>
            </div>
            <div class="footer-copyright col-xs-12 center">
                <div class="container white-text">© 2006-2016 Increi C.A. | RIF: J-31171968-7 | Todos los Derechos Reservados | Desarrollado por <i><a href="http://bitcodeweb.com/" style="color:#fff">Bitcode</a></i>
                </div>
            </div>
        </footer>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
        <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
        <script src="js/classie.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
        <script src="app.js"></script>
        <script src="controllers.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $(".button-collapse").sideNav();
                $(".dropdown-button").dropdown();
            });
        </script>
        <script>
            jQuery('ul.nav li.dropdown').hover(function() {
              jQuery(this).find('.dropdown-menu').stop(true, true).delay(1).fadeIn();
            }, function() { jQuery(this).find('.dropdown-menu').stop(true, true).delay(100).fadeOut(); });
        </script>
        <script>
            (function() {
                if (!String.prototype.trim) {
                    (function() {
                        // Make sure we trim BOM and NBSP
                        var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
                        String.prototype.trim = function() {
                            return this.replace(rtrim, '');
                        };
                    })();
                }

                [].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
                    // in case the input is already filled..
                    if( inputEl.value.trim() !== '' ) {
                        classie.add( inputEl.parentNode, 'input--filled' );
                    }

                    // events:
                    inputEl.addEventListener( 'focus', onInputFocus );
                    inputEl.addEventListener( 'blur', onInputBlur );
                } );

                function onInputFocus( ev ) {
                    classie.add( ev.target.parentNode, 'input--filled' );
                }

                function onInputBlur( ev ) {
                    if( ev.target.value.trim() === '' ) {
                        classie.remove( ev.target.parentNode, 'input--filled' );
                    }
                }
            })();

        $(".line-white").hover(function(){$(this).addClass("border-bto-white");},function(){$(this).removeClass("border-bto-white");});
        function DropIn() { $("#dropdown1").css("display","block"); }
        function DropOut(){ $("#dropdown1").css("display","none");  }
        </script>
    </body>
</html>